


#hero {
	background-image: url(../assets/hero/house.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color:white;
}

#hero-right-panel > div {
	background-color: #363636;
}

#hero-right-panel {
	margin: 0;
	padding: 0;
}



.hero-right-panel-icon-large {
	width: 100px;
}
.hero-right-panel-icon-mini {
	width: 33px;
    padding: 2em 0;
}
.icon{
    height: 35%;
}
.social-media{
    height: 65%;
}
.gocode-fontcolor {
	color: #c6b751;
}

.button {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	border-radius: 20px;
	font-weight: bold;
}

.btn-yellow {
    color: white;
    font-size: 1.8em;
    text-decoration: none;
    background-color:#c6b751;
    border-radius: 20px;
    border: 0;
    padding: 0.1em 1em 0.1em 1em;
}


.hero-nav {
	padding: 2rem;
}
.hero-nav a {
	color: #e8e8e8;
	text-decoration: none;
	transition: .3s ease;
}
.hero-nav a:after{
	
	content: "";
	height: 1px;
	width: 0;
	background: white;
	display: flex;
	transition: .3s ease;
}
.hero-nav a:hover{
	color: white;
}

.hero-nav a:hover:after {
	
	width: 50%;
}

.hero-content-title {
	font-size: 3.5em;
}

.hero-content-subtitle {
	font-size: 2em;
    width: 80%;
    margin-top: 1.5em;
}

#about {
    padding-bottom: 2em;
}


#about h1 {
    margin-top: 1em;

}

#about h2 {
    margin-top: 1.4em;
    text-align: center;
    margin-bottom: 1em;
}

#about p {
    line-height: 1.7em;
}

#about .second-column img {
    height: 65px;
    margin: 0.5em 0 0.5em 0;
}

#about .third-column img {
    width: 100%;
}








#courses div {
	padding-top:1em;
	padding-bottom:1em;
}

#courses> div:nth-child(even){
	background: #202020;
}

.course-name {
	font-size: 2em;
}

.discount {
	font-size: 3em;
	text-transform: uppercase;
}
@media only screen and (max-width:700px) {
    .gocode-fontcolor {
    margin-top: 4em;
	color: #c6b751;
}
 .hero-right-panel-icon-large {
	margin-bottom: 1em;
}
    
    .hero-content-title {
	font-size: 3em;
}

.hero-content-subtitle {
	font-size: 1.5em;
    width: 100%;
    margin-top: 1.5em;
}
    #about .second-column img {
        height: 85px;
        margin: 2em;
    }
}